[user]
    name = aalbaali
    email = albaalia@live.com
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
    packedGitLimit = 512m 
    packedGitWindowSize = 512m 
[alias]
    # See https://ses4j.github.io/2020/04/01/git-alias-recent-branches/
    lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
    checkout = "!f() { git checkout $@ && foo; }; f"
    co = checkout
    cm = commit
    st = status -s
    br = branch
    undo-commit = reset --soft HEAD^
    d = difftool
    dd = difftool --dir-diff
    m = mergetool
    changes = diff HEAD@{1} HEAD
    diff = diff -w
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    smu = submodule update --init --recursive
[status]
    showUntrackedFiles = all
[github]
    user = aalbaali
[push]
    default = simple
    autoSetupRemote = true
[diff]
    tool = neovim
[difftool "neovim"]
    cmd = nvim -d $LOCAL $REMOTE
[difftool]
    prompt = false
[merge]
    tool = meld
    conflictstyle = zdiff3
[mergetool]
    prompt = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[rerere]
	enabled = false
[rebase]
	autoStash = true
