name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  install-devenv:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        # Install minimum requirements
      - name: Run installation script
        run: |
          sudo apt-get update
          sudo apt-get install -y curl ca-certificates git
          curl -sS https://raw.githubusercontent.com/aalbaali/workstation_setup/master/clone_and_run_dev_playbook | bash -

  install-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: docker
        run: sudo make docker

  latex-classes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: latex_classes
        run: |
          sudo apt-get update -y
          sudo apt-get install -y latexmk
          yes "" | make latex_classes
          if [[ -z $(kpsewhich amro-common.sty) ]]; then
            echo -e "\033[93;1mDidn't install latex classes properly\033[0m"
            echo $(kpsewhich amro-common.sty)
            exit 1
          else
            echo -e "amro-common.sty installed to \033[96;1m$(kpsewhich amro-common.sty)\033[0m"
          fi
